[submodule "libfuse"]
	path = libfuse
	url = https://github.com/libfuse/libfuse.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "cmdline"]
	path = cmdline
	url = https://github.com/tanakh/cmdline.git
